# Configuration file

general {
    # ME Infinity Cell Supported Fluid List
    # Use fluid name as id by default, for example: "water" or "soldering_alloy".
    S:"Fluid IDs" <
        water
     >

    # ME Infinity Cell Supported Item List
    # Format: "<modid>:<name>:<metadata>", where metadata is optional by default.
    # For example: "minecraft:cobblestone" or "appliedenergistics2:part:36" (metadata).
    S:"Item IDs" <
        minecraft:cobblestone
        appliedenergistics2:part:20
        appliedenergistics2:part:21
        appliedenergistics2:part:22
        appliedenergistics2:part:23
        appliedenergistics2:part:24
        appliedenergistics2:part:25
        appliedenergistics2:part:26
        appliedenergistics2:part:27
        appliedenergistics2:part:28
        appliedenergistics2:part:29
        appliedenergistics2:part:30
        appliedenergistics2:part:31
        appliedenergistics2:part:32
        appliedenergistics2:part:33
        appliedenergistics2:part:34
        appliedenergistics2:part:35
        appliedenergistics2:part:36
     >
}


