# Configuration file

general {
    D:copperFurnaceConsumptionRate=1.25
    I:copperFurnaceSpeed=100
    D:diamondFurnaceConsumptionRate=4.0
    I:diamondFurnaceSpeed=25
    D:goldFurnaceConsumptionRate=2.5
    I:goldFurnaceSpeed=40
    D:ironFurnaceConsumptionRate=1.25
    I:ironFurnaceSpeed=150
    D:netherrackFurnaceConsumptionRate=1.0
    I:netherrackFurnaceSpeed=1800
    D:obsidianFurnaceConsumptionRate=4.0
    I:obsidianFurnaceSpeed=50
    D:silverFurnaceConsumptionRate=1.75
    I:silverFurnaceSpeed=60
}


